In [1]:
import pandas as pd

Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.
Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.

In [11]:
df = pd.read_csv("~/Desktop/Research/Datasets/GSE217541_U1TET1_hESC_combined_count_replicates_20210622.csv",index_col = 0,parse_dates=False,encoding='utf-8')

In [12]:
df.index.value_counts()

2-Mar          2
1-Mar          2
MIR1302-2HG    1
AL354696.2     1
SLC25A15       1
              ..
AL606923.2     1
LINC02549      1
AL593844.1     1
AL646090.1     1
MT-CYB         1
Name: count, Length: 36760, dtype: int64

In [8]:
df

               WT1    WT2     WT3    KO1     KO2     KO3
MIR1302-2HG      0      0       0      0       0       0
FAM138A          0      0       0      0       0       0
OR4F5            0      0       2      1       0       0
AL627309.1       2      4       3      5       4      10
AL627309.3       0      0       0      0       0       0
...            ...    ...     ...    ...     ...     ...
MT-ND4L      12133  12252   14919   8849   15695   14524
MT-ND4       92386  97862  117224  59676  111845  103434
MT-ND5       50186  53131   61150  31412   60341   56846
MT-ND6        2953   2962    3968   1682    3347    3773
MT-CYB       43681  43592   47888  26194   49438   46583

[36762 rows x 6 columns]